Flask
python-dotenv
langchain-core
langchain
langchain-community
langchain-openai
langchain-text-splitters
openai
faiss-cpu
pypdf
tiktoken
pytube
youtube-transcript-api
serverless-wsgi
supabase
storage3
