<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Interact With Text</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/interactWithText.css') }}">
   </head>

   <main>
   
  
   <div class ="flex-parent-chat-window">
   
    <div class ="flex-child-output">
        <p> 
            <pre>{{ response }}</pre>
            </p>
   
    </div>
    <div class ="flex-child-form">
   
    
    <form action="/interactWithText" class = "f" method="post">

        <input type="text" id="user_query" name="user_query" placeholder="Enter question here" class="text-field">
        <input type="submit" value="Send Question" class="submit-btn">


        </form>



 
    </div>

    </div>

 
    
   
</main>
   
</html>